* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "poppins";
}

/* Common */
.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  line-height: 68px;
  min-width: 186px;
  border-radius: 14px;
  background: #1ebfc1;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

/* HEADER */
.header .body {
  display: flex;
  align-items: center;
  padding: 52px 0px 8px;
}

.header .nav ul {
  display: flex;
}

.header .nav {
  margin-left: auto;
}

.header .nav li a {
  padding: 8px 20px;
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
}

.header .nav li:hover a {
  color: #2f3a3b;
  text-shadow: 0.5px 0 0 currentColor;
  font-size: 1.6rem;
  font-weight: 600;
}

.header .action {
  margin-left: auto;
}

.header .action a {
  padding: 8px 12px;
  color: #494949;
  text-align: center;
  font-size: 1.6re;
  font-weight: 400;
}

.header .action .btn-sign-up {
  padding: 0 12px;
  line-height: 48px;
  min-width: 108px;
  display: inline-block;
  color: #1ebfc1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  min-width: 108px;
}

/* INTRO */

.intro {
  padding-top: 42px;
  padding-bottom: 79px;
}

.intro .body {
  display: flex;
}

/* COL 1 */

.intro .col1 {
  padding-top: 93px;
  width: 39%;
}

.intro .col1 .banner {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
}

.intro .col1 .heading {
  margin-top: 18px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.intro .col1 .desc {
  max-width: 374px;
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
}

.intro .col1 .call {
  margin-top: 55px;
  display: flex;
  align-items: center;
}

.intro .call .intro-btn {
  margin-right: 50px;
}

.intro .call .play {
  width: 62px;
  height: 62px;
  box-shadow: 0px 22px 50px 0px #0000000d;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
}
/* COL 2 */
.intro .col2 {
  position: relative;
  padding-left: 71px;
  width: 61%;
}

.intro .col2 .person {
  display: block;
  margin-left: auto;
  height: 631px;
  width: 576px;
  object-fit: cover;
}

.intro .col2 .courses {
  height: 75px;
  position: absolute;
  display: flex;
  right: 459px;
  top: 149px;
  align-items: center;
  min-width: 157px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  justify-content: center;
}

.intro .courses .desc {
  margin-left: 16px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  max-width: 55px;
}

.intro .schedules {
  text-align: center;
  width: 124px;
  height: 132px;
  position: absolute;
  right: 517px;
  top: 453px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.intro .schedules .desc {
  margin-top: 16px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.intro .schedules .line {
  margin-top: 16px;
}

.intro .schedules .line2 {
  margin-top: 12px;
}

.intro .schedules .line3 {
  margin-top: 10px;
}

.intro .active {
  position: absolute;
  bottom: 41px;
  right: 45px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  width: 207px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro .active .desc {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.intro .active .ava {
  display: flex;
  margin-top: 8px;
}

.intro .ava .avatar {
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -7px;
}

/* FEATURES */

.features {
  padding-top: 130px;
  padding-bottom: 65px;
}

.features-top {
  width: 50%;
}

.features .features-top .mini-fea {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.features .features-top .heading {
  margin-top: 18px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
}

.features .features-top .desc {
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
}

.features .features-bottom {
  margin-top: 80px;
}

.features .features-bottom .all-item {
  display: flex;
}

.features .features-bottom .item {
  width: 33.3%;
}

.features .item .head {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}

.features .item .desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68;
  max-width: 168px;
}

.features .features-bottom .des2 {
  max-width: 223px;
}
.features .features-bottom .des3 {
  max-width: 224px;
}

/* COURSES */

.courses {
  padding: 65px 0 65px;
}

/* courses top */

.courses .courses-top .cour-mini {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.courses .courses-top .heading {
  margin-top: 18px;
  color: #0d1111;
  font-family: Poppins;
  font-size: 4.2rem;
  font-weight: 700;
}

.courses-top .view {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-top .view .desc {
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78; /* 177.778% */
  max-width: 525px;
}

.courses-top .view .all-cour {
  color: #1ebfc1;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}

/* courses bottom */

.courses .courses-bottom {
  margin-top: 79px;
}

.courses .courses-bottom .all-item {
  display: flex;
  gap: 47px;
}

.courses-bottom .all-item .item {
  width: 33.3%;
  position: relative;
}

.courses-bottom .item .computer {
  width: 100%;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
}

.courses-bottom .item .explain {
  position: absolute;
  border-radius: 8px;
  background: #fff;
  height: 195px;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
  padding: 18px 25px 29px;
  top: 322px;
  left: 17px;
  right: 17px;
}

.courses-bottom .explain .head {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}
.courses-bottom .explain .cost {
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 16px;
}

.courses-bottom .explain .money {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.courses-bottom .explain .desc {
  margin-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}

.courses-bottom .explain .value {
  display: flex;
  margin-top: 18px;
  align-items: center;
}

.courses-bottom .value .month,
.courses-bottom .value .cls {
  color: #9da6a5;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
}

.courses-bottom .value .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1ebfc1;
  margin-right: 8px;
}
